var index_to_alphanum = function(cell_index){
  coords = cell_index.split('')
  // row is a lettter column is a number
  column = coords[1];
  row = String.fromCharCode(65 + Number(coords[0]));
  return row+column
}

var my_turn = true;


$(document).ready(function(){
  $('button#fire').hide();

$('.cell').on('click', function(){

  //if ($('.target-view .grid').hasClass('my-turn')) {
  if (my_turn == true){
    // highlight the cell you picked
    $(this).addClass('targeted')

    // get the cell name that you picked
    var cell_index = $(this).attr('id').split('_')[1]
    var cell_name = index_to_alphanum(cell_index)

    // confirm that you want to hit that cell
    $('.info-station .messages-content').html(
      '<h3>CONFIRM TARGET: ' + cell_name + '?</h3>'
      )
    //make a confirmation/fire element visible or clickable
    $('button#fire').show()

    //take off my turn
    my_turn = false
  }
})

$('#fire').on('click', function(){
  console.log('click!')
  var target = $('.cell.targeted').attr('id').split('_')[1]

  console.log('shot target =', target)
  var url = '' //figure this out
  // $.ajax({
  //   type: "POST",
  //   url: url,
  //   data: target
  //   })
})

});
