$cell-side: 40px;
$cell-margin: 2px;

.ocean-view {
  display: inline-block;
  float: left;
  width: 50%;
  border-right: 2px solid gray;
}

.boat-dock {
  float: left;
  padding: 20px;
  width: 100px;


  .boat-container {
    margin: 10px auto;
    border: 2px solid gray;
  }
}

.grid {
  margin: 20px;

  .row {
    clear: both;
  }

  .cell {
    display: inline-block;
    float: left;
    height: $cell-side;
    width: $cell-side;
    margin: $cell-margin;
    border: 2px solid gray; 
    }
    
  .cell:hover {
    background: dodgerblue;
  }

}